{% extends "MYDPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Accueil
{% endblock %}

{% block mydplatform_body %}
<main class="flex">
  
  {{ include("MYDPlatformBundle:Advert:sidebar.html.twig") }}

  <section class="centerContainer box flex2">
    {% block advert_body %}
    <div class="home__tabHeader">
      <button class="home__tab" onclick="openTab('ad')" >Annonces</button>
      <button class="home__tab" onclick="openTab('profiles')">Profils</button>
    </div>
    <div class="tab home__content" id="ad">
      <div class="home__card--container flex justifyBetween">
        {% for advert in listAdverts %}
          {{ include("MYDPlatformBundle:Advert:advert_card.html.twig") }}
        {% else %}
        <p>Pas (encore !) d'annonces</p>
        {% endfor %}
      </div>
    </div>
    <div class="tab home__content" id="profiles" style="display: none;">
      <div class="home__card--container flex justifyBetween">
        <article class="flexColumn home__card home__card--profile">
          <a href="">
            Johnny
          </a>
          <span>
            Developpeur PHP, 
            Disponible de suite
          </span>
        </article>
      </div>
    </div>
    {% endblock %}
  </section>

</main>
{% endblock %}