  <section class="mainSection sidebar box">
    <h3>Les annonces</h3>
    <ul class="">
      <li><a href="{{ path('myd_platform_home') }}">Accueil</a></li>
      <li><a href="{{ path('myd_platform_add') }}">Ajouter une annonce</a></li>
    </ul>

    <hr>

    <h4>Dernières annonces</h4>
    {{ render(controller("MYDPlatformBundle:Advert:menu", {'limit': 3})) }}
  </section>