
/*
<div class="home__card--container flex justifyBetween">
        {% for advert in listAdverts %}
        <article class="flexColumn home__card home__advert">
          <a href="{{ path('myd_platform_view', {'id': advert.id}) }}">
            {{ advert.title }}
          </a>
          <span>
            par {{ advert.author }},
            le {{ advert.date|date('d/m/Y') }}
          </span>
        </article>
        {% else %}
        <p>Pas (encore !) d'annonces</p>
        {% endfor %}
      </div>
</div>

*/

.home__card {
  flex: 1 32%;
  margin-bottom: 20px; 
  max-width: 32%; 
  min-height: 200px; 
  padding: 10px; 
  border-top: 4px solid $primary_color; 
  border-right: 1px solid $light_grey; 
  border-bottom: 1px solid $light_grey; 
  border-left: 1px solid $light_grey; 
  border-radius: 0px 0px 5px 5px; 
  /*box-shadow: 1px 1px 6px $light_grey; */
  text-align: center;

  &--container {
    flex-wrap: wrap;
  }
}